/*--------------------------- Color variations ----------------------*/
/*--------------------------- Fonts ----------------------*/


.single-product {
margin-bottom: 50px; }
.single-product img {
  margin-bottom: 20px;
  width: 100%; }
.single-product .product-details h6 {
  font-size: 16px;
  text-transform: uppercase; }
.single-product .product-details .price h6 {
  font-size: 14px;
  display: inline-block;
  padding-right: 15px;
  margin: 0; }
.single-product .product-details .price .l-through {
  text-decoration: line-through;
  color: #cccccc;
  margin-bottom: 0; }
.single-product .product-details .prd-bottom {
  position: relative;
  margin-top: 20px; }
  .single-product .product-details .prd-bottom .social-info {
    position: relative;
    display: inline-block;
    width: 35px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: hidden; }
    .single-product .product-details .prd-bottom .social-info span {
      position: relative;
      height: 30px;
      width: 30px;
      line-height: 30px;
      text-align: center;
      background: #828bb2;
      border-radius: 50%;
      display: inline-block;
      color: #fff;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      z-index: 1; }
      .single-product .product-details .prd-bottom .social-info span:after {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        content: "";
        border-radius: 50%;
        opacity: 0;

        z-index: -1; }
    .single-product .product-details .prd-bottom .social-info .hover-text {
      position: absolute;
      left: 0;
      top: 3px;
      width: 100px;
      left: -40px;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 12px;
      color: #222222;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      opacity: 0;
       }
    .single-product .product-details .prd-bottom .social-info:hover {
      width: 115px; }
      .single-product .product-details .prd-bottom .social-info:hover span:after {
        opacity: 1;
        visibility: visible; }
      .single-product .product-details .prd-bottom .social-info:hover .hover-text {
        opacity: 1;
        visibility: visible;
        left: 40px; }

/* end product area css
============================================================================================ */
.exclusive-deal-area {
background: #f9f9ff; }
.exclusive-deal-area .exclusive-left {
  position: realtive;
  background: url(../img/exclusive.jpg) center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 275px 0; }
  @media (max-width: 1024px) {
    .exclusive-deal-area .exclusive-left {
      padding: 175px 0; } }
  .exclusive-deal-area .exclusive-left:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    opacity: .5; }
  .exclusive-deal-area .exclusive-left .clock_sec {
    padding: 0 190px; }
    @media (max-width: 1680px) {
      .exclusive-deal-area .exclusive-left .clock_sec {
        padding: 0 135px; } }
    @media (max-width: 1440px) {
      .exclusive-deal-area .exclusive-left .clock_sec {
        padding: 0 75px; } }
    @media (max-width: 991px) {
      .exclusive-deal-area .exclusive-left .clock_sec {
        padding: 0 220px; } }
    @media (max-width: 767px) {
      .exclusive-deal-area .exclusive-left .clock_sec {
        padding: 0 130px; } }
    @media (max-width: 575px) {
      .exclusive-deal-area .exclusive-left .clock_sec {
        padding: 0 15px; } }
    .exclusive-deal-area .exclusive-left .clock_sec.row {
      margin-right: 0;
      margin-left: 0; }
    .exclusive-deal-area .exclusive-left .clock_sec h1 {
      font-size: 36px;
      color: #fff;
      margin: 0; }
      @media (max-width: 1380px) {
        .exclusive-deal-area .exclusive-left .clock_sec h1 {
          font-size: 30px; } }
    .exclusive-deal-area .exclusive-left .clock_sec p {
      color: #fff;
      margin-bottom: 30px; }
    .exclusive-deal-area .exclusive-left .clock_sec .clock-wrap {
      background: #fff;
      padding: 18px 0;
      border-radius: 5px; }
      .exclusive-deal-area .exclusive-left .clock_sec .clock-wrap .clockinner {
        color: #222222;
        border-right: 1px solid #eee; }
        .exclusive-deal-area .exclusive-left .clock_sec .clock-wrap .clockinner h1 {
          color: #222222;
          margin-bottom: 0; }
  .exclusive-deal-area .exclusive-left .primary-btn {
    margin-top: 40px; }
.exclusive-deal-area .exclusive-right {
  text-align: center; }
  .exclusive-deal-area .exclusive-right .active-exclusive-product-slider {
    padding: 0 230px; }
    @media (max-width: 1440px) {
      .exclusive-deal-area .exclusive-right .active-exclusive-product-slider {
        padding: 0 130px; } }
    @media (max-width: 1380px) {
      .exclusive-deal-area .exclusive-right .active-exclusive-product-slider {
        padding: 0 168px; } }
    @media (max-width: 1024px) {
      .exclusive-deal-area .exclusive-right .active-exclusive-product-slider {
        padding: 0 80px; } }
    @media (max-width: 991px) {
      .exclusive-deal-area .exclusive-right .active-exclusive-product-slider {
        margin-top: 50px; } }
    @media (max-width: 575px) {
      .exclusive-deal-area .exclusive-right .active-exclusive-product-slider {
        padding: 0 15px; } }
    @media (max-width: 767px) {
      .exclusive-deal-area .exclusive-right .active-exclusive-product-slider .owl-nav {
        display: none; } }
    .exclusive-deal-area .exclusive-right .active-exclusive-product-slider .owl-nav div {
      position: absolute;
      left: 5%;
      top: 50%;
      opacity: .3;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      .exclusive-deal-area .exclusive-right .active-exclusive-product-slider .owl-nav div:hover {
        opacity: 1; }
    .exclusive-deal-area .exclusive-right .active-exclusive-product-slider .owl-nav .owl-next {
      left: auto;
      right: 5%; }
    @media (max-width: 991px) {
      .exclusive-deal-area .exclusive-right .active-exclusive-product-slider .single-exclusive-slider {
        padding-bottom: 80px; }
        .exclusive-deal-area .exclusive-right .active-exclusive-product-slider .single-exclusive-slider img {
          max-width: 450px;
          margin: 0 auto; } }
  .exclusive-deal-area .exclusive-right .product-details h4 {
    font-size: 24px;
    text-transform: uppercase; }
  .exclusive-deal-area .exclusive-right .product-details .price h6 {
    font-size: 14px;
    display: inline-block;
    padding-right: 15px;
    margin-bottom: 15px; }
  .exclusive-deal-area .exclusive-right .product-details .price .l-through {
    text-decoration: line-through;
    color: #cccccc;
    margin-bottom: 0; }
  .exclusive-deal-area .exclusive-right .product-details .add-bag {
    margin: 30px 0; }
    .exclusive-deal-area .exclusive-right .product-details .add-bag .add-btn {
      height: 30px;
      width: 30px;
      line-height: 32px; }
      .exclusive-deal-area .exclusive-right .product-details .add-bag .add-btn span {
        transform: rotate(0deg); }

@media (max-width: 767px) {
.single-img {
  min-width: 50%; } }
.single-img img {
opacity: .2;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s; }
@media (max-width: 800px) {
  .single-img img {
    margin-bottom: 40px; } }
.single-img img:hover {
  opacity: .8; }

.single-related-product {
margin-bottom: 30px;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s; }
.single-related-product .desc {
  margin: 10px 0px 10px 15px; }
.single-related-product .price h6 {
  font-size: 14px;
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 0px; }
.single-related-product .price .l-through {
  text-decoration: line-through;
  color: #cccccc;
  margin-bottom: 0; }
.single-related-product a {
  color: #222222;
  text-transform: uppercase; }
.single-related-product:hover .desc a {
  color: #ffba00; }

@media (max-width: 991px) {
.ctg-right {
  display: none; } }
.details-tab-navigation {
background: #f9fafc; }
.details-tab-navigation .nav-tabs {
  border: none; }
.details-tab-navigation .nav-link {
  border: 1px solid #eee;
  background: #fff;
  color: #000;
  padding: 0 30px;
  line-height: 35px;
  margin: 10px 3px;
  border-radius: 0px; }
  .details-tab-navigation .nav-link:hover {
    color: red;
    border: 1px solid transparent; }
  .details-tab-navigation .nav-link.active {
    color: #fff;
    border: 1px solid transparent; }

.description {
padding: 30px;
border: 1px solid #eee;
border-top: 0px; }

.specification-table {
padding: 30px;
border: 1px solid #eee;
border-top: 0px; }
.specification-table .single-row {
  padding: 10px 0;
  border-bottom: 1px solid #eee; }
  .specification-table .single-row span {
    width: 50%; }
    .specification-table .single-row span:first-child {
      margin-left: 50px; }
  .specification-table .single-row:last-child {
    border-bottom: 0px; }

.review-wrapper {
padding: 30px;
border: 1px solid #eee;
border-top: 0px; }

.review-overall {
width: 235px;
padding: 30px 0;
border: 1px solid #eee;
background: #f9fafc;
text-align: center; }
.review-overall h3 {
  font-weight: 500; }
.review-overall .main-review {
  color: #ffba00;
  font-size: 48px;
  font-weight: 700;
  padding: 15px 0; }

.review-count {
margin-left: 30px; }
.review-count h4 {
  margin-bottom: 5px; }

.single-review-count .total-star {
margin: 0 10px; }

.total-star i {
display: inline-block;
margin: 0 1px;
color: #cccccc; }
.total-star.five-star i:nth-child(-n + 5) {
color: #fbd600; }
.total-star.four-star i:nth-child(-n + 4) {
color: #fbd600; }
.total-star.three-star i:nth-child(-n + 3) {
color: #fbd600; }
.total-star.two-star i:nth-child(-n + 2) {
color: #fbd600; }
.total-star.one-star i:nth-child(-n + 1) {
color: #fbd600; }

.total-comment {
margin-top: 30px; }
.total-comment .single-comment .user-details img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px; }
.total-comment .single-comment .user-details .user-name h5 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px; }
.total-comment .single-comment .user-comment {
  margin-top: 15px;
  margin-bottom: 30px; }

.add-review h3 {
margin-bottom: 20px; }

.main-form {
text-align: right; }
.main-form .view-btn {
  border: 0px;
  cursor: pointer;
  margin-top: 10px; }

.common-input {
display: block;
width: 100%;
border: 1px solid #eee;
line-height: 40px;
padding: 0 30px;
margin-top: 10px; }
.common-input:focus {
  outline: none; }
.common-input.mt-20 {
  margin-top: 20px; }

.common-textarea {
display: block;
width: 100%;
height: 100px;
border: 1px solid #eee;
padding: 10px 30px;
margin-top: 10px; }
.common-textarea:focus {
  outline: none; }

.reply-comment {
margin-left: 30px; }


.login-form {
padding: 30px;
background: #f9fafc;
height: 100%; }
.login-form a:hover {
  color: #44b253; }

.register-form {
padding: 30px 30px 100px 30px; }
.register-form .billing-title {
  color: #fff;
  border-bottom: 1px solid #fff; }
.register-form p {
  color: #fff; }
.register-form .common-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  color: #fff; }
  .register-form .common-input:focus {
    border: 1px solid white; }
.register-form ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
  font-weight: 300; }
.register-form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
  font-weight: 300; }
.register-form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
  font-weight: 300; }
.register-form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
  font-weight: 300; }
.register-form ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
  font-weight: 300; }

.order-tracking {
padding: 30px;
background: #f9fafc; }

.tracking_form .primary-btn {
border-radius: 0px;
line-height: 38px;
border: none; }
.tracking_form .primary-btn:hover:before {
  left: 170px; }

.load-product {
display: none; }



.product_description_area {
padding-bottom: 120px;
margin-top: 60px; }
.product_description_area .nav.nav-tabs {
  text-align: center;
  display: block;
  border: none;
 padding: 10px 0px; }
  .product_description_area .nav.nav-tabs div {
    display: inline-block;
    margin-right: 7px; }
    .product_description_area .nav.nav-tabs div:last-child {
      margin-right: 0px; }
      @media (max-width: 441px) {
        .product_description_area .nav.nav-tabs div:last-child {
          margin-top: 15px; } }
    .product_description_area .nav.nav-tabs div a {
      padding: 0px;
      border: none;
      line-height: 38px;
      background: #fff;
      border: 1px solid #eeeeee;
      border-radius: 0px;
      padding: 0px 30px;
      color: #222222;
      font-size: 13px;
      font-weight: normal; }
      @media (max-width: 570px) {
        .product_description_area .nav.nav-tabs div a {
          padding: 0 15px; } }
      .product_description_area .nav.nav-tabs div a.active {
        color: #fff;
        border: 1px solid transparent; }
.product_description_area .tab-content {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 30px; }
  .product_description_area .tab-content .total_rate .box_total {
    background: #e8f0f2;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px; }
    .product_description_area .tab-content .total_rate .box_total h4 {
      font-size: 48px;
      font-weight: bold; }
    .product_description_area .tab-content .total_rate .box_total h5 {
      color: #222222;
      margin-bottom: 0px;
      font-size: 24px; }
    .product_description_area .tab-content .total_rate .box_total h6 {
      color: #222222;
      margin-bottom: 0px;
      font-size: 14px;
      color: #777777;
      font-weight: normal; }
  .product_description_area .tab-content .total_rate .rating_list {
    margin-bottom: 30px; }
    .product_description_area .tab-content .total_rate .rating_list h3 {
      font-size: 18px;
      color: #222222;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      margin-bottom: 10px; }
    .product_description_area .tab-content .total_rate .rating_list .list li a {
      font-size: 14px;
      color: #777777; }
      .product_description_area .tab-content .total_rate .rating_list .list li a i {
        color: #fbd600; }
    .product_description_area .tab-content .total_rate .rating_list .list li:nth-child a i:last-child {
      color: #eeeeee; }
  .product_description_area .tab-content .table {
    margin-bottom: 0px; }
    .product_description_area .tab-content .table tbody tr td {
      padding-left: 65px;
      padding-right: 65px;
      padding-top: 14px;
      padding-bottom: 14px; }
      .product_description_area .tab-content .table tbody tr td h5 {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #777777;
        margin-bottom: 0px;
        white-space: nowrap; }
    .product-details_description_area .tab-content .table tbody tr:first-child td {
      border-top: 0px; }

#profile{
display: none;
}
#otzivi{
 display: none;
}
#ewe{
display: none
}

.nav-item-1{
width:100%;
font-size: 120%;
text-align: center;
cursor: pointer;
  height: 100%;
color: white;
}
.nav-item-1:hover{
  background-color: gray;
  color: black;

}
.nav-item-1 p{
margin-top: 10px;
}

.dom{font-family: 'Roboto Slab', serif;
margin-top: 40px;
display: block;
}
.price{
font-size: 150%;
color: black;
}
.product{
background-color: #f1f1f1;
}
#myTab{
font-family: 'Tinos', serif;
height: 50px;
background-color: #1A2D23;
display: flex;
flex-direction: row;


}

.ots{

font-family: 'Prata', serif;

margin-top: 50px;
}


.s_P{
margin-top: 45px;
}



.container.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  padding: 30px 50px;
}

.gallery-container h1 {
  text-align: center;
  margin-top: 50px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  margin: 25px auto;
  font-size: 18px;
  color: #999;
}

.tz-gallery {
  padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
  padding: 2px;
}

.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
}

.tz-gallery .lightbox:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  opacity: 0;
  color: #fff;
  font-size: 26px;
  font-family: 'Glyphicons Halflings';
  content: '\e003';
  pointer-events: none;
  z-index: 9000;
  transition: 0.4s;
}


.tz-gallery .lightbox:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(46, 132, 206, 0.7);
  content: '';
  transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: 1;
}

.baguetteBox-button {
  background-color: transparent !important;
}

@media(max-width: 768px) {
  body {
      padding: 0;
  }
}

.dom-h{

font-family: 'Comfortaa', cursive;
color:#D2B48C;
font-weight:bold
}
.dom-h-2{
font-weight: 800;
font-size: 160%;
font-family: 'Oswald', sans-serif;

}













.video-play-button {
position: absolute;
z-index: 10;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
box-sizing: content-box;
display: block;
width: 32px;
height: 44px;
/* background: #fa183d; */
border-radius: 50%;
padding: 18px 20px 18px 28px;
}

.video-play-button:before {
content: "";
position: absolute;
z-index: 0;
left: 50%;
top: 50%;
transform: translateX(-50%) translateY(-50%);
display: block;
width: 80px;
height: 80px;
background: #ba1f24;
border-radius: 50%;
animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
content: "";
position: absolute;
z-index: 1;
left: 50%;
top: 50%;
transform: translateX(-50%) translateY(-50%);
display: block;
width: 80px;
height: 80px;
background: #fa183d;
border-radius: 50%;
transition: all 200ms;
}

.video-play-button:hover:after {
background-color: darken(#fa183d, 10%);
}

.video-play-button img {
position: relative;
z-index: 3;
max-width: 100%;
width: auto;
height: auto;
}

.video-play-button span {
display: block;
position: relative;
z-index: 3;
width: 0;
height: 0;
border-left: 32px solid #fff;
border-top: 22px solid transparent;
border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
0% {
  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
  opacity: 1;
}
100% {
  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
  opacity: 0;
}
}



.video-overlay {

z-index: -1;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0,0,0,0.80);
opacity: 0;
transition: all ease 500ms;
}

.video-overlay.open {
position: fixed;
z-index: 100;
opacity: 1;
}

.video-overlay-close {
position: absolute;
z-index: 100;
top: 15px;
right: 20px;
font-size: 36px;
line-height: 1;
font-weight: 400;
color: #fff;
text-decoration: none;
cursor: pointer;
transition: all 200ms;
}

.video-overlay-close:hover {
color: #fa183d;
}

.video-overlay iframe {
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
/* width: 90%; */
/* height: auto; */
box-shadow: 0 0 15px rgba(0,0,0,0.75);
}

.ukas{
padding-top: 50px;
padding-bottom: 50px;
}
.ukas-1{
border: 1px solid red;
}

.coom{
background-color: #EEF2F7;
}
.carousel-inner{
height: 700px;
}
.sig{
 border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
width: 150px;
}


.heading{font-family: 'Playfair Display', serif;}

.qwe{
font-family: 'Poiret One', cursive;
}
 @media (max-width: 667px) {
 

 }