{% load static %}
<footer class="page-footer font-small mdb-color pt-4" style="background-color:#46575e; " >
  <!-- Footer Links -->
  <div class="container text-center text-md-left" id="contact">
    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">
      <!-- Grid column -->
      <div class="col-lg-4">
        <h6 class="text-uppercas mb-4 font-weight-bold modular-footer-text ">MODULAR<span class="logo-in-footer">.KZ</span></h6>
        <p class="about-info text-center">Modular.kz это компания которая стримительно решает все ваши проблемы с постройкой очень быстро и надежно. У нас имеется опыт в этой сфере уже более 5 лет. Наша команда состоит из опытных и решительных
          людей которые без проблем осуществлять ваши мечты в реальность</p>
      </div>
      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">
      <!-- Grid column -->
      <div class="col-lg-2" >
        <h6 class="text-uppercase mb-4 font-weight-bold footer-info text-address" style="margin-left:20px;">Адрес</h6>
        <p class="address-info">
        <p class="about-info" style="margin-left:20px;">Алматинская область <br>город Капшагай <br>улица Ветеринарная 30</p>
        </p>
      </div>
      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">
      <!-- Grid column -->
      <div class="col-lg-3">
        <h6 class="text-uppercase mb-4 font-weight-bold footer-info" style="margin-left:52px;">Режим работы</h6>
        <p class="work-time" style="margin-left:52px;">
          Пон-Пт 9:00-18:00
        </p>
        <p class="work-time" style="margin-left:52px;">
          Суб 9:00-16:00
        </p>
        <p class="work-time" style="margin-left:52px;">
          Вск Выходной
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-lg-3">
        <h6 class="text-uppercase mb-4 font-weight-bold footer-info">Контакты</h6>
        <p style="letter-spacing: 2px; color:#FFF07C" class="p-info" >
          <i class="fa fa-globe mr-3"></i> www.modular.kz</p>
        <p style="letter-spacing: 2px;color:#FFF07C" class="p-info">
          <i class="fa fa-envelope mr-3"></i> modular.kz@mail.ru</p>
        <p style="letter-spacing: 1px;color:#FFF07C" class="p-info">
          <i class="fa fa-phone mr-3"></i> +7707 304 64 08 Нурик</p>
        <p style="letter-spacing: 1px;color:#FFF07C" class="p-info">
          <i class="fa fa-whatsapp mr-3"></i> +7707 965 96 99 Ернур</p>
        <p style="letter-spacing: 1px;color:#FFF07C" class="p-info">
          <i class="fa fa-whatsapp mr-3"></i> +7747 955 07 97 Ерлан</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <br>
    <br>

    <!-- Grid row -->

    <!--Copyright-->
    <p class="text-center text-md">
      <a href="https://mdbootstrap.com/">
        <strong style="color:black"></strong>
      </a>
    </p>


  </div>
  <!-- Footer Links -->

</footer>