<!DOCTYPE html>
{% load static %}
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>MODULAR.KZ</title>
  <!--  start js-->
  <script src="{% static 'search.js' %}"></script>
  <script src="{% static 'main.js' %}"></script>

  <!--  end js-->
  <!--  start css-->
  <link rel="stylesheet"  href="{% static 'style.css' %}">
  <link rel="stylesheet"  href="{% static 'bootstrap.css' %}">
  <link rel="stylesheet"  href="{% static 'style3.css' %}">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!--  end css-->
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

</head>
<body>
{% include 'include/header.html' %}






<div class="container" style="font-family: 'Roboto Slab', serif;">


<div class="row" style="font-family: 'Comfortaa', cursive; margin-top:10px;">Мы занимаемся изготовлением жилых утепленных мобильных помещений на базе 20, 40 футовых контейнеров </div>

<div class="row" style="margin-top: 20px">

<div class="col-lg-4">

<table>

    <tr>
      <td><i class="fa fa-square-o fasa" aria-hidden="true"></i></td>
      <td style="font-family: 'Comfortaa', cursive;">Быстровозводимые помещения из одного или несколько контейнеров</td>
    </tr>
    <tr>
      <td><i class="fa fa-square-o fasa" aria-hidden="true"></i></td>
      <td style="font-family: 'Comfortaa', cursive;">Медицинскте пункты</td>
    </tr>
    <tr>
      <td><i class="fa fa-square-o fasa" aria-hidden="true"></i></td>
      <td style="font-family: 'Comfortaa', cursive;">Мобильные дома</td>
    </tr>
     <tr>
      <td><i class="fa fa-square-o fasa" aria-hidden="true"></i></td>
      <td style="font-family: 'Comfortaa', cursive;">Офисы / Дачи</td>
    </tr>
    <tr>
      <td><i class="fa fa-square-o fasa" aria-hidden="true"></i></td>
      <td style="font-family: 'Comfortaa', cursive;">Вахтовые поселкий / Бытовики</td>
    </tr>
    <tr>
      <td><i class="fa fa-square-o fasa" aria-hidden="true"></i></td>
      <td style="font-family: 'Comfortaa', cursive;">Туалеты / Душевые / Бани</td>
    </tr>
    <tr>
      <td><i class="fa fa-square-o fasa" aria-hidden="true"></i></td>
      <td style="font-family: 'Comfortaa', cursive;">Кафе / Ларьки</td>
    </tr>
 <tr>
      <td><i class="fa fa-square-o fasa" aria-hidden="true"></i></td>
      <td style="font-family: 'Comfortaa', cursive;">Мини гостиницы / Общежития</td>
    </tr>

</table>


</div>
<div class="col-lg-8"><img class="img-fluid" src="{% static 'images/1.jpeg' %}" width="80%;" ></div>
</div>
<div class="row" style="margin-top: 20px">
<div class="col-lg-4">

<table>

    <tr>
      <td><i class="fa fa-square-o fasa" aria-hidden="true"></i></td>
      <td style="font-family: 'Comfortaa', cursive;">Быстровозводимые помещения из одного или несколько контейнеров</td>
    </tr>
    <tr>
      <td><i class="fa fa-square-o fasa" aria-hidden="true"></i></td>
      <td style="font-family: 'Comfortaa', cursive;">Скорость-монтаж и демонтаж за 10-14 дней (а не месяцы строительство) </td>
    </tr>
    <tr>
      <td><i class="fa fa-square-o fasa" aria-hidden="true"></i></td>
      <td style="font-family: 'Comfortaa', cursive;">Выгода-затраты только на отделку (вам захочется второй этаж)</td>
    </tr>
     <tr>
      <td><i class="fa fa-square-o fasa" aria-hidden="true"></i></td>
      <td style="font-family: 'Comfortaa', cursive;">Сейсмоустойчивость-до 85% (не будет трещин в стенах и фундаменте)</td>
    </tr>
    <tr>
      <td><i class="fa fa-square-o fasa" aria-hidden="true"></i></td>
      <td style="font-family: 'Comfortaa', cursive;">Вариативность-90% (можно подобрать удобные сочетания)</td>
    </tr>
    <tr>
      <td><i class="fa fa-square-o fasa" aria-hidden="true"></i></td>
      <td style="font-family: 'Comfortaa', cursive;">Эстетика-100% (краска ляжет по-любому)</td>
    </tr>


</table>


</div>
<div class="col-lg-8"><img class="img-fluid" src="{% static 'images/2.jpg' %}" width="80%;" ></div>

</div>

<div class="row text-center" style="margin-top: 20px;background-color: orange;font-size: 130%;font-family: 'Comfortaa', cursive;">Современная технология производство и монтажа позволяет ускоренными темпами взводить отдельные боксы разного назначения и комплектация.</div>

<div class="row" style="margin-top: 20px;">
	<div class="col-lg-6">
		<img src="{% static 'images/3.jpg' %}" width="500" height="300" class="img-fluid">
	</div>

	<div class="col-lg-6" >
		<img src="{% static 'images/4.jpg' %}" class="img-fluid">
	</div>
</div>




</div>
    </div>
  </div>
</div>
</body>
</html>