<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MODULAR.KZ | Контакты</title>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{% static 'search.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>

    <!--  end js-->
    <!--  start css-->
    <link rel="stylesheet"  href="{% static 'style.css' %}">
    <link rel="stylesheet"  href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet"  href="{% static 'style3.css' %}">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style_index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap1.css' %}">
    <!--  end css-->

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'contact.css' %}" rel="stylesheet">

</head>
<body>
<div   style="font-family: 'Exo 2', sans-serif; background-color:#66ffcc; padding:60px;">

    <div class="container" >
        <h1 class="mt-4 mb-3" style="font-family: 'Exo 2', sans-serif; ">
            Контакты
        </h1>
    </div>
</div>

<!-- Page Content -->
<div class="container">
    <div class="breadcrumb-main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'index_page' %}" style="font-family: 'Exo 2', sans-serif;">Главная</a>
            </li>
            <li class="breadcrumb-item active" style="font-family: 'Exo 2', sans-serif;">Конакты</li>
        </ol>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-lg-8 mb-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46023.35180456097!2d77.03559961538261!3d43.86703063386556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3882f16ce5687dd9%3A0x46dce38d1a9dffc9!2sKapchagay!5e0!3m2!1sen!2skz!4v1596688924390!5m2!1sen!2skz" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4 contact-right">
            <h3 style="font-family: 'El Messiri', sans-serif;">Наши контакты</h3>
            <p style="font-family: 'Exo 2', sans-serif;">
                <i class="fa fa-map-marker" aria-hidden="true"></i> Алматинская Область
                <br>город Капчагай, Ветеринарная 30

            </p>
            <p style="font-family: 'Exo 2', sans-serif;">
                <i class="fa fa-phone" aria-hidden="true"></i>: +7707 304 64 08
                <br><i class="fa fa-whatsapp" aria-hidden="true"></i> +7707 965 96 99
                <br><i class="fa fa-whatsapp" aria-hidden="true"></i> +7747 955 07 97
            </p>
            <p>
                <i class="fa fa-envelope" aria-hidden="true"></i>:
                <a href="mailto:name@example.com">modularkz@gmail.com
                </a>
            </p>
            <p style="font-family: 'Exo 2', sans-serif;">
                <i class="fa fa-clock-o" aria-hidden="true" style="font-size: 18px;"></i>: Понедельник - Пятница: 9:00-18:00
                <br> Суббота: 9:00-16:00
            </p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->

    <!-- /.row -->

</div>
<!-- /.container -->
{% include 'include/footer.html' %}

</body>
</html>
