<!DOCTYPE html>
{% load static %}
<html>
<head>


    <title>MODULAR.KZ</title>
    <!--  start js-->
    <script src="{% static 'search.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>

    <!--  end js-->
    <!--  start css-->
    <link rel="stylesheet"  href="{% static 'style.css' %}">
    <link rel="stylesheet"  href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet"  href="{% static 'style3.css' %}">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style_index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap1.css' %}">
    <!--  end css-->
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



</head>
<body>


{% include 'include/header.html' %}
<!-- uslugi -->

<div class="container-fluid" style="overflow-x:hidden">


    <div class="row suret">
        <h2 class="proz">Производство модульных помещений</h2>
        <img src="{% static 'images/phon1.jpg' %}" id="srt">
    </div>



    <div class="row l">
        <div class="col-lg-7 trapezoid"><div class="qwq"></div></div>
    </div>
    <div class="row l">
        <div class="col-lg-7 trapezoid-2"><div class="lgo">MODULAR.KZ<br><span style="color: white;font-size: 30px;">construction</span></div></div>
    </div>
    <div class="row l">
        <div class="col-lg-7 trapezoid-3"><div class="num" style="font-family: 'Comfortaa', cursive; font-size:20px;"><i class="fa fa-phone" aria-hidden="true"></i> + 7707 304 64 08
            <br><i class="fa fa-whatsapp" aria-hidden="true"></i>  + 7707 965 96 99
            <br><i class="fa fa-whatsapp" aria-hidden="true"></i> + 7707 955 07 97
        </div></div>
    </div>
</div>
</div>
<!-- uslugi -->
<!-- footer -->

<!-- Footer -->



</body>
</html>
