<!DOCTYPE html>
{% load static %}
<html>
<head>


    <title>MODULAR.KZ</title>
    <!--  start js-->
    <script src="{% static 'search.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>

    <!--  end js-->
    <!--  start css-->
    <link rel="stylesheet"  href="{% static 'style.css' %}">
    <link rel="stylesheet"  href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet"  href="{% static 'style3.css' %}">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style_index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap1.css' %}">
    <!--  end css-->
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



</head>
<body>
{% include 'include/header.html' %}
<div class="container">
<h1 style="text-align:center;font-family: 'Montserrat', sans-serif;">Современные тенденций</h1>
<div class="row text-center" style="margin-top: 20px;background-color: orange;font-size: 15px;;font-family: 'Comfortaa', cursive;">
    По качеству и надежности контейнер превосходит кустарное строительство. Спрос на быстровозводимое жилье растет с каждым годом. Во всем мире используют модульное
    строительство на практике доказана эффективность концепций.
</div>

<div class="row">
	<div class="col-lg-12" >
		<img src="{% static 'images/phon1.jpg' %}" class="img-fluid" width="100%;height:100%;">
    </div>
</div>
</div>
<div class="container">

  <section >
    <div class="container ukas">
      <div class="row">

        <div class="col-lg-3 d-flex">
          <div class="text-center">
            <div class="icon d-flex justify-content-center align-items-center ban-icon">
              <img src="{% static 'images/quality-assurance.png' %}" width="90">
            </div>
            <div class="heading media-body p-2 mt-3">
              <h3 class="information-text">Качественная продукция</h3>
              <p style="font-family: 'Comfortaa', cursive;">Вся наша продукция 100% совпадает стандартам.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 d-flex">
          <div class="text-center">
            <div class="icon d-flex justify-content-center align-items-center ban-icon">
              <img src="{% static 'images/authentication.png' %}" width="90">
            </div>
            <div class="heading media-body p-2 mt-3">
              <h3 class="information-text">Гарантинная работа</h3>
              <p style="font-family: 'Comfortaa', cursive;">Мы даем гарантию на долговечность и устойкость.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 d-flex ">
          <div class="text-center">
            <div class="icon d-flex justify-content-center align-items-center ban-icon">
              <img src="{% static 'images/handshake.png' %}" width="90">
            </div>
            <div class="heading media-body p-2 mt-3">
              <h3 class="information-text">Индувидуальный подход</h3>
              <p style="font-family: 'Comfortaa', cursive;">Мы стараемся найти подход каждому клиенту.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 d-flex ">
          <div class="text-center">
            <div class="icon d-flex justify-content-center align-items-center ban-icon">
              <img src="{% static 'images/kazakhstan.png' %}" width="90">
            </div>
            <div class="heading media-body p-2 mt-3">
              <h3 class="information-text">Сделано в Казахстане</h3>
              <p style="font-family: 'Comfortaa', cursive;">Вся продукция производиться в Казахстане.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>


  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-4 py-5 main-1 uzu">
        <div class="d-flex">
          <div class="icon">
            <img src="{% static 'images/wrench.png' %}" width="110">
          </div>
          <div class="qwe">
            <h3 class="info-0-text" style="font-weight:bold;color:black;margin-left:5px;">Эксперт & Профессионалы</h3>
            <p class="mb-0 info-0-text" style="font-weight:bold;color:black;margin-left:5px;" >У нас работают только мастера своих дел.</p>
          </div>
        </div>
      </div>


      <div class="col-md-12 col-lg-4 py-5 main-2 uzu" style="background-color:#27263D">
        <div class="d-flex">
          <div class="icon">
            <img src="{% static 'images/clock2.png' %}" width="110">
          </div>
          <div class="qwe">
            <h3 class="info-0-text" style="font-weight:bold;color:black;margin-left:5px;">Быстро и в сроки</h3>
            <p class="mb-0 info-0-text" style="font-weight:bold;color:black;margin-left:5px;">Отвечаем за качество нашей работы и за быстроту</p>
          </div>
        </div>
      </div>



      <div class="col-md-12 col-lg-4 py-5 main-3 uzu" style="background-color:darkgrey">
        <div class="d-flex">
          <div class="icon">
            <img src="{% static 'images/good-quality.png' %}" width="100">
          </div>
          <div class="qwe">
            <h3 class="info-0-text" style="font-weight:bold;color:black;margin-left:5px;">Высокое качество работы</h3>
            <p class="mb-0 info-0-text" style="font-weight:bold;color:black;margin-left:5px;">Работаем очень быстро и оперативнно</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>